<header>
  <div class="head_container">
      <a heaf>mind chat</a>
      <div class="head_item">
       <% if user_signed_in? %>
            <%= link_to "ログアウト", "destroy_user_session_path",method: :delete,class: "post1" %>
            <%= link_to "チャット画面へ", "new_room_path", class: "post2" %>
        <% else %>
            <%= link_to "ログイン", "new_user_session_path", class: "post1" %>
            <%= link_to "新規登録", "new_user_registration_path", class: "post2" %>
        <% end %>
        </div>
</header>

    <div class="container">
       <h1>瞑想により良いアイデア</h1>
       <h2>思考が現実になる時代に</h2>
       <h3>今と未来にフォーカス</h3>
    </div>

<div class="main">
  <%= image_tag "img_mei.jpg" %>
   <div class="left-content">
        <h1>サービス内容</h1>
        <p>無駄な会議の時間をなくす</p>
        <p>自分の思いつきを発信する</p>
        <p>発信するための場所の提供</p>
        <p>尚且つより良い発想を伝える</p>
        <p>チャットアプリを使うことにより</p>
        <p>生産性の向上につなげる</p>
        <%= image_tag "img_mei3.jpg" %>
    </div>
</div>
<div class="sub">
  <div class="content01">
      <h1>瞑想のメリット</h1>
          <p>集中力の向上,記憶力の向上</>
          <p>学力の向上,生産性の向上</p>
          <p>クリエイティブ,創造性の向上</p>
          <p>睡眠の質の向上</p>
          <p>幸福感の向上,人間関係の向上</p>
        </ul>
   </div>
</div>
<div class='footer'>
  <div class='footer-contents'>
    <div class='meisou-details'>
      <h2 class='footer-content-head'>mind chatについて</h2>
      
        <a class="footer-link" href="#">会社概要（運営会社)</a>
        <a class="footer-link" href="#">プライバシーポリシー</a>
        <a class="footer-link" href="#">mind chat利用規約</a>
        <a class="footer-link" href="#">ポイントに関する特約</a>
      </ul>
    </div>
    <div class='meisou-details'>
      <h2 class='footer-content-head'>mind chatを見る</h2>
        <a class="footer-link" href="#">カテゴリー一覧</a>
        <a class="footer-link" href="#">アプリ一覧</a>
    </div>
    <div class='meisou-details'>
      <h2 class='footer-content-head'>mind chatについて</h2>
        <a class="footer-link" href="#">mind chatガイド</a>
        <a class="footer-link" href="#">mind chatロゴ利用ガイドライン</a>
        <a class="footer-link" href="#">お知らせ</a></li>
    </div>
  </div>
  <p>© mind chat</p>
</div>


